{% extends 'base/site.html' %}

{% block page_body %}

<div id="fp_splash"></div>

<div id="fp_signup">
 <div style="float:left">
 Apply to become a <a href="{% url mentortogether.user.views.apply role='mentor' %}">Mentor</a>
 or a <a href="{% url mentortogether.user.views.apply role='mentee' %}">Mentee</a>.
 </div>

<div style="float:left;padding:0; margin:0; margin-left:1em;">

<a href='http://www.facebook.com/pages/Mentortogether/221533497663' style="text-decoration: none; border:0;"><img width="85" height"20" src='http://b.static.ak.fbcdn.net/rsrc.php/z1M25/hash/5u84f48n.gif'/></a>                                                              
 </div>

 <div style="float:right;vertical-align:top;">
    Members <a href="{% url django.contrib.auth.views.login %}">Login</a>
 </div>
 <div style="clear:both"></div>
</div>

<div style="margin-top:10px;text-align:center;font-family:georgia;">
<p style="font-size:1.2em"><em><a href="/p/mentor-speak">See what our mentors are saying!</a></em></p>
</div>

<div id="fp_intro_text">
 <p>Mentor Together is a Trust that aims to match urban poor children,
    enrolled in formal education programs, to professionals, who will
    serve as their mentors, based on shared  academic, career and
    personal interests. We believe that mentoring can play an important
    part in bringing about empowerment through education, as it
    offers urban poor children the socio-economic partnerships that
    they lack, coming from disadvantaged backgrounds. These
    partnerships will help build self-esteem and will help broaden the
    future life choices available to these under-served children. With
    a mentor as a guide, we hope that our mentees will have stronger
    academic commitment, as well as develop their IT literacy, interpersonal
    and English language skills.</p>
</div>

{% endblock %}
