import os

PROJECT_ROOT = os.path.dirname(__file__)
FS_STOR_ROOT = os.path.join(PROJECT_ROOT, 'local', 'stor')

# ---------------------------------------------------------------------
# Local Email Settings
#
EMAIL_HOST  = ''
EMAIL_PORT  = 25
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USER_TLS = ''

# ---------------------------------------------------------------------
# Database Settings
DATABASE_ENGINE = ''
DATABASE_HOST = ''
DATABASE_NAME = None
DATABASE_PASSWORD = ''
DATABASE_OPTIONS = ''
DATABASE_PORT = ''
DATABASE_USER = ''

# ---------------------------------------------------------------------
# Debug Settings (Enabled by default)
DEBUG = True
TEMPLATE_DEBUG = True

# ---------------------------------------------------------------------
# Project Administrators
ADMINS = None
MANAGERS = ADMINS

# ---------------------------------------------------------------------
# Local Installation Secret Key
SECRET_KEY  = None
