/* reset */
html {color:#000;background:#FFF; background-color: #092e20;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}legend{color:#000;}
body {font-family: sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* layout */
html {
  background-color: #9EAEb3;
  background-color: #4A7B6F;
  background-color: #fff;
}

body { 
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-family: "Trebuchet MS","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
  color: #333; 
}

a { color: #3b5998; text-decoration: none; }

div#wrapper { 
  text-align: left; /* reset body text alignment */
  margin-top: .2em;
  margin-left: 2em;
  #margin-right: auto;
  width: 800px;
  background-color: #ffffff;
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div#mt_img_header {
  background-image: url('/imgs/logo0.jpg');
  background-repeat: no-repeat;
  width: 500px;
  height: 60px;
}

div#rainbow { width: 100%; }
div#rainbow .colorbox { float: left; height: 0.5em; }

/* ---[ primary header ]--- */

div#primary_header { 
    padding-top: 0em; 
    padding-bottom: 0em; 
    border-bottom: 0px solid #888;
    height:40px;
    position: relative;
}
div#primary_header h1 { 
    font-size: 2.4em; 
    font-weight: bold; 
    color: #000; 
    font-family: Georgia, "Times New Roman", Times, Serif; 
    position: absolute;
    bottom: -9;
    display:inline;
}


div#primary_header a { 
    color: #000; 
    text-decoration: none; 
}
div#primary_header a:hover { 
    color: #444; 
    text-decoration: none; 
}
div#primary_logo { 
    background-image: url('/imgs/mt_logo_small.jpg'); 
    background-repeat: no-repeat;
    width:90px; 
    height:80px; 
    float:left;
}

div#secondary_header { 
    float:left;
    padding-top: 0em; 
    padding-bottom: 0em;
    width: 100%;
}
div#secondary_header h2 {
  font-size: 1.5em; 
  color: #aaa;
  font-family: Georgia;
  font-weight: bold; 
  padding-top: .5em;
}

div#main {
  width: 100%;
  line-height: 1.6em;
  font-size: 0.9em;
  color: #222;
  padding-top: 1em;
  padding-bottom: 1em;
}
div#main p {
  margin-bottom: 0.8em;
}

div#page_footer { 
    width: 100%; 
    border-top: 1px solid #000; 
    border-top: 2px solid #E6EAF2;
    color: #000; 
    color: #aaa;
    font-family: "Lucida Grande", "Trebuchet MS";
    font-size: .8em; 
    padding-top:.5em;
    margin-top: 1em;
}

div#fp_signup {
  background-color: #3b5998;
  color: #E6EAF2;
  padding: 1em;
}

div#topbar {
  color: #000;
  background-color: #fff;
}

div#fp_splash {
  background-image: url('/imgs/kids.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

div#fp_signup a {
  color: #CCDDDD;
  color: #E6EAF2;
  text-decoration: none;
  border-bottom: 1px dotted #CCDDDD;
}

div#fp_intro_text {
  color: #242E35;
  color: #4A7B6F;
  color: #444;
  background-color: #CCDDDD;
  background-color: #EEEEE7;
  background-color: lightyellow;
  padding: 1em;
  line-height: 1.8em;
  font-size: 1em;
  margin-top: 1em;
  border: 1px solid #ddd;
  font-family: Georgia, "Times New Roman", Times, Serif;
  border: 1px solid lightyellow;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div#fp_footer {
  color: #666;
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: .8em;
  padding-top: 1em;
}

div#profile_select { margin-top: 40px; width:100%;text-align:center;}
div#profile_select .profile_type { 
    width:200px;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    }
div#profile_select .profile_select_text {
    padding: 2em;
}
div#profile_select .profile_select_text a {
    text-decoration: none;
    font-size: 1.2em;
    color: blue;
    font-family: Georgia, Times;
    border-bottom: 4px solid #fff;
}

div#profile_select .profile_select_text a:hover {
    border-bottom: 1px dotted blue;
}

em { font-style: italic }
strong { font-weight: bold }

.desc_text {
   margin-top: .4em;
   margin-bottom: 1em;
}

table#signup_form_table { width: 100%; margin-top: 1em;}
table#signup_form_table th { width: 25%; padding: 0.5em; vertical-align: top; text-align: right;}
table#signup_form_table td { width: 75%; padding: 0.5em; vertical-align: top; text-align: left;}
table#signup_form_table .help_text { font-size: 0.8em; }

.errorlist li { font-size: 0.8em; color: red;}

.hi_block { 
  background-color: #fff; 
  padding: 1em;
}

.form_table { width: 100%; }
.form_table_label {
  padding: 0.5em;
  text-align: right;
  vertical-align: top;
}
.form_table_field {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

#sidebar {
  float:left;
  width: 160px;
  background-color: #e6eaf2;
  font-size:0.8em;
  padding-bottom: 1em;
  topmargin-top: 1em;
  /*border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; */
}

#sidebar_menu ul
{
    background-color:#fff;
  background-color: #e6eaf2;
    color:#000;
    margin:0;
    padding:0;
    list-style:none;
}

#sidebar_menu li a
{
    background-color:#6A9F00;
  background-color: #e6eaf2;
    display: block;
    text-decoration: none;
}

#sidebar_menu li
{
  background-color:#fff;
  background-color: #e6eaf2;
  color:#000;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .3em;
  padding-bottom: .3em;

}

#sidebar_menu li a:link, #sidebar_menu li a:visited
{
  background-color:#6A9F00;
  background-color: #e6eaf2;
  color:#3b5998;
}

#profile_mug 
{
  width: 100%;
  text-align: center;
  margin-top: 10px; 
  margin-bottom: 10px; 
}


#topbar_menu 
{
  float:right;
  padding: .6em;
  font-size: .7em;
  font-weight: bold;
  background-color:#3b5998;
  border: 1px solid #E6EAF2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 1em;
}

.rounded_box_light {
  background-color: #E6EAF2;
  border: 1px solid lightyellow;
  border: 1px solid #E6EAF2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: auto;
  float:left;
  background-color: lightyellow;
  background-color: #E6EAF2;
}

.horiz_list_light ul {
  margin:0;
  padding:0;
  list-style:none;
  list-style-type:none;
}

.horiz_list_light li {
  display:inline;
}

.horiz_list_light li a
{
  color: #3b5998;
  text-decoration: none;
}

#topbar_menu {
  float:right;
}
#topbar_nav, #topbar_nav ul
{
  color:#000;
  margin:0;
  padding:0;
  list-style:none;
  list-style-type:none;
}

#topbar_nav li
{
  display:inline;
  padding-right: .5em;
  padding-left: .5em;
}

#topbar_nav li a
{
  color: #e6eaf2;
  text-decoration: none;
}

#topbar_nav li a:hover
{
  color: #e6eaf2;
  color: #fff;
}


/*
 * TOP LAYOUT
 */
div#top_layout, div#primary_layer {
  width:100%;
  vertical-align:middle;
  vertical-align: center;
}
div#logo {
  width:80px;
  height:80px;
  background-image: url(/imgs/mt_logo_small.jpg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right:1em;
  float:left;
}
div#heading_set {
  vertical-align: center;
}

div#site_heading h1 { 
    font-size: 2.2em; 
    font-weight: regular; 
    color: #000; 
    font-family: "Lucida Grande", Georgia, "Times New Roman", Times, Serif; 
}
div#site_heading a { 
    color: #000; 
    text-decoration: none; 
}
div#site_heading a:hover { 
    color: #444; 
    text-decoration: none; 
}
div#secondary_heading { 
    padding-top: 0em; 
    padding-bottom: 0em;
    float:left;
}
div#secondary_heading h2 {
  font-size: 1.5em; 
  color: #aaa;
  font-family: "Trebuchet MS", "Lucida Grande", Georgia;
  /*font-weight: bold; */
  padding-top: .5em;
    float:left;
}

#site_nav_menu {
  padding: .3em;
  margin-top: .4em;
}
#site_nav li {
  margin-left: .5em;
  margin-right: .5em;
  font-size: .7em;
  font-weight: bold;
}

#site_header {
  padding-bottom: 1em;
  border-bottom: 2px solid #E6EAF2;
}


#content_col {
  float:right;
  width: 620px;
  padding-bottom: 1em;
  margin-left: 1em;
}


td.field_name {
  padding: .5em;
  text-align:right;
  vertical-align:top;
}

td.field_value {
  padding: .5em;
  text-align:left;
  vertical-align:top;
}

.notice_blob {
  padding: 1em;
  background-color: #E6EAF2;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: .5em;
}

.notice_block a {
  color: #3b5998;
}

/*
div#writing_prompt {
height: 300px;
width: 90%;
margin:auto;
overflow: auto;
border: 4px solid lightgreen;
background-color: lightyellow;
padding: 8px;
font-size: 1.1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
font-family: Georgia, "Times New Roman", Times;
}
*/

div#writing_prompt h2 {
    font-size: 1.4em;
}

div#writing_prompt {
height: 300px;
overflow: auto;
#border: 4px solid #E6EAF2;
background-color: #E6EAF2;
border: 4px solid lightgreen;
background-color: lightyellow;
padding: 8px;
font-size: 0.9em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
line-height:1.3em;
color: #333;
}

div.archive_index {
    margin-bottom: 1em;
}
div .archive_index .title { font-size: 1.4em; }
div .archive_index .dates { padding-left: 2em; color: #555; }

.msg_container {
  width: 620px;
  margin-bottom: 1em;
}
.msg_box1 { border-left: 0px solid #E6EAF2; font-size: .9em; background-color: #E6EAF2; }
.msg_box2 { border-left: 0px solid #E6EAF2; font-size: .9em; background-color: #fff; }

div.msg_info {
  color: #666;
  padding-top: .2em; 
  padding-bottom: .2em; 
  padding-left: 1em;
}
div.msg_text {
  padding-top: .2em; 
  padding-bottom: 1em; 
  padding-left: 1em;
  padding-right: 1em;
  font-family: Georgia;
}


/* Boxed Layout in a 2 Column Page */
.box_container {
  width: 620px;
  margin-bottom: 1em;
}
.box_tag { 
  float:left; 
  width: 80px; 
  height: 80px;
}
.box_box {
  float:right; 
  width: 530px; 
}

.msg_img_tag {
  background-repeat: no-repeat;
  background-position: top right;
}

.bg_lightyellow { background-color:lightyellow; color:#000; }
.bg_lightyellow a { color: #3b5998; }

.hl_box { padding: 1em; text-align: center; }
.hl_box h1 { font-size: 1.6em; font-family: Georgia, Times, "Times New Roman"; }
.hl_box a { text-decoration: none; font-weight: bold; }

.rounded_border { border: 1px solid #3b5998; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

#db_mentorbar {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0px solid #3b5998;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-bottom: 0px solid #3b5998;
    border-top: 0px solid #3b5998;
    margin-top: 1em;
    width: 200px;
    float:left;
}

#db_networkbar {
    float:right;
    width: 400px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}
#db_mentorbar h2 { font-size: 1.4em; padding-bottom: .5em;}

#db_sidebar {
    width: 160px;
    float:left;
}

#db_networkbar h2 { font-size: 1.4em; padding-bottom: .5em; }

#user_messages { margin-bottom: 1em; border-bottom: 1px dotted #888; color: #444;}

.photo_window {
    height:80px;
    width:80px;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#E6EAF2;
    border: 1px solid #888;
}
