div#site-headband {
    position: absolute; top: 0; left: 0;
    z-index: -1;
    margin: 0; padding: 0;
    width: 100%; height: 80px;
}

div#site-headband #bar1 {
    background-color: #363531;
    width: 100%; height: 50px;
}

div#site-headband #bar2 {
    background-color: #ddd;
    width: 100%; height: 30px;
}

div#logo {
    margin: 0; padding: 0;
    height: 70px;
    background-image: url('/static/imgs/mt-logo-s.png');
    background-repeat: no-repeat;
    background-position: left center;
}

div#header {
    margin: 0; padding: 0;
    height: 75px;
}

/* 
    Top-level navigation bar 
    Heights must add up to 70px (< div#header);
 */
#navigation {
    margin: 0; padding: 0;
}
#navigation table { width: 100%; }
#navigation #primary-navigation { 
    height: 50px;
    background: transparent;
    text-align: right; vertical-align: middle;
    padding: 0; margin: 0;
    color: yellow;
    color: #ddd;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000;
}
#navigation #se-navigation { 
    height: 30px;
    background: transparent;
    text-align: right; vertical-align: middle;
    padding: 0; margin: 0;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    font-family: Tahoma;
    text-shadow: 0px 1px 1px #fff;
}


div#logo {
    height: 70px;
    background-image: url('/static/imgs/mt-logo-s.png');
    background-repeat: no-repeat;
}

div#content {
    min-height: 400px;
    height: auto !important;
    height: 400px;
    padding-top: 20px;
}

div.container {
}


/*
    Dashboard Notice List
  */
ul.notice-list {
    list-style-type: none;
    list-style: none;
}
ul.notice-list li {
    display: block;
    padding: 5px;
    padding: 1em;
    background-color: #E6EAF2;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: .5em;
    background-color: lightyellow;
    color: #000;
}
ul.notice-list li a {
    color: #3b5998;
}

.photo-window {
    height: 80px;
    width:80px;
    background-repeat:no-repeat;
    background-position:center;
    background-color: #E6EAF2;
    border: 1px solid #888;
}

/*
    Mentorship
 */

#mentorship {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 10px;
}

#mentorship #target-user-info {
    /*
    background-color: #eee;
    padding: 10px; */
    padding-bottom: 15px;
    border-bottom: 0px dashed #bbb;
}

#mentorship #target-user-info .photo {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #363531;
    border: 1px solid #888;
}
#mentorship #target-user-info .photo img {
    display: block;
    margin: 0 auto;
}

#mentorship #target-user-info .stats {
    margin-left: 0px;
}
#mentorship #target-user-info .stats ul {
    list-style-type: none;
    list-style: none;
}

#mentorship #nav {
    padding: 5px; margin-top: 5px;
    margin-top: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
}

#mentorship .activity-info {
    margin-top: 10px;
    font-family: tahoma;
    font-size: 11px;
}

#mentorship a {
    text-decoration: none;
    color: #363531;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0px 1px 1px #fff;
}


/*
 * prompt listing
 */
#prompt-listing .section { 
    border-bottom: 1px dotted #999; 
    margin-bottom: 10px;
}
#prompt-listing .section .title { font-size: 1.4em; }
#prompt-listing .section .summary { font-size: 1.0em; }

#prompt-listing .prompt { 
    margin-bottom: 10px;
    border-left: 4px solid #eee;
    padding: 5px;
}
#prompt-listing .active-prompt { 
    border-left: 4px solid #888;
    background-color: #f0f0f0;
}
#prompt-listing .prompt .title { font-size: 1.2em; }
#prompt-listing .prompt .summary { font-size: 1.0em; }

/*
 * User messages
 */
#user-messages {
    background-color: lightyellow;
    padding: 5px;
}
#user-messages ul {
    list-style-type: none;
    list-style: none;
    padding: 0; margin: 0;
}

/*
    element styles 
 */
ul.menu-list {
    list-style-type: none;
    list-style: none;
    padding: 0; margin: 0;
}
ul.inline-list {
    list-style-type: none;
    list-style: none;
    display: inline;
    padding: 0; margin: 0;
}
ul.inline-list li {
    display: inline;
    margin-right: 15px;
}
