<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 

<html lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <title>
            {% block SiteTitle %}{% endblock %}
        </title> 

        <!-- blueprint css --> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/print.css" type="text/css" media="print"> 
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 

        <!-- Import fancy-type plugin for the sample page. --> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 

        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/site.css" type="text/css" media="screen, projection"> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/forms.css" type="text/css" media="screen, projection"> 

        {% block SiteHead %}{% endblock %}
    </head> 
    <body>

        <div id="container">

            <div id="site-headband">
                <div id="bar1"></div>
                <div id="bar2"></div>
            </div>

            <div id="header" class="container clearfix">
                <div id="logo" class="span-4 prepend-2">
                    <img src="/static/imgs/mt-logo-s.png" />
                </div>
                <div id="navigation" class="span-16 append-2 last clearfix">
                    <table>
                        <tr>
                            <td id="primary-navigation">
                                {% block PrimaryNavigation %}
                                    <ul class="inline-list">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/p/about">About</a></li>
                                        <li><a href="/p/team">Team</a></li>
                                        <li class="last-item"><a href="/p/about/contact">Contact Us</a></li>
                                    </ul>
                                {% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td id="secondary-navigation">
                                {% block SecondaryNavigation %}
                                      {% if user.is_authenticated %}
                                        <ul class="inline-list">
                                            <li><a href="{% url mentortogether.views.home %}">Home</a></li>
                                            <li><a href="{% url mentortogether.user.views.profile_view username=user.username %}">Profile</a></li>
                                            <li><a href="/p/docs/">Docs</a></li>
                                            <li class="last-item"><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                                        </ul>
                                      {% else %}
                                      <ul class="inline-list">
                                          <li><a href="/">Home</a></li>
                                          <li class="last-item"><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
                                      </ul>
                                      {% endif %}
                                {% endblock %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="site-content">
                <div id="content" class="container">
                    <!-- We use only 20 columns -->
                    <div class="span-20 prepend-2 append-2 last">
                        {% if messages %}
                            <div id="user-messages" class="span-20 last">
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% block ContentLayout %}{% endblock %}
                    </div>
                </div>
            </div>

            <div id="site-footer">
                <div id="footer" class="container">
                    <div class="span-20 prepend-2 append-2 last">
                        {% block Footer %}
                            <span id="copyright">Copyright (c) 2010, mentortogether.org</span>
                        {% endblock %}
                    </div>
                </div>
           </div>

        </div> <!-- /container -->
 
    </body>
</html>
