<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 

<html lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <title>
            {% block SiteTitle %}{% endblock %}
        </title> 

        <!-- blueprint css --> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/print.css" type="text/css" media="print"> 
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 

        <!-- Import fancy-type plugin for the sample page. --> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 

        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/forms.css" type="text/css" media="screen, projection"> 

        {% block SiteHead %}{% endblock %}
    </head> 
    <body>
        <div class="container">

            <div class="span-24">
                {% block SiteHeader %}
                    <h1>Mentortogether</h2>
                {% endblock %}
            </div>

            <div class="span-24">
                {% block SiteBody %}{% endblock %}
            </div>

            <div class="span-24">
                {% block SiteFooter %}
                    <span class="small">mentortogether.org</span>
                {% endblock %}
            </div>

        </div>
    </body>
</html>
