{% extends 'base/meta.html' %}

{% block style %}
{% endblock %}

{% block body %}
  <div id="wrapper">
    <div id="rainbow">
        <div class="colorbox" style="width:5%;background-color:violet"></div>
        <div class="colorbox" style="width:30%;background-color:indigo"></div>
        <div class="colorbox" style="width:5%;background-color:blue"></div>
        <div class="colorbox" style="width:10%;background-color:green"></div>
        <div class="colorbox" style="width:15%;background-color:yellow"></div>
        <div class="colorbox" style="width:20%;background-color:orange"></div>
        <div class="colorbox" style="width:15%;background-color:red"></div>
    </div>
    <div style="clear:both"></div>

    <div id="primary_header">
      <h1><a href="/" alt-text="Mentor Together Homepage">Mentor Together</a></h1>
    </div>
    <div id="main">
      <div id="secondary_header">
        <h2>{% block secondary_header %}{% endblock %}</h2>
      </div>
      {% block main %}{% endblock %}
    </div>

    <div id="footer">
      Copyright (c) 2009, Mentortogether.org 
    </div>

  </div>
{% endblock %}
