{% extends 'base/simple.html' %}

{% block secondary_title %}
Change Password
{% endblock %}

{% block secondary_header %}
Change Password
{% endblock %}

{% block main %}

  <form action="." method="post">
    <table cellpadding="2" cellspacing="2" id="signup_form_table">
      {% for field in form.visible_fields %}
      <tr>
      <th>{{ field.label_tag }}</th>
      <td>
          {{ field }}
          <p class="help_text">{{ field.help_text }}</p>
          {{ field.errors }}
      </td>
      </tr>    
      {% endfor %}
      <tr>
        <th>&nbsp;</th>
        <td><input type="submit" value="Submit"/></td>
      </tr>
    </table>
    {% for field in form.hidden_fields %}
    {{ field }}
    {% endfor %}
  </form>

{% endblock %}
