# ---------------------------------------------------------------------
# Local Path Settings
PATH_STATIC = '/static'
PATH_SRC = '/mentortogether'
PATH_DB = '/'

# ---------------------------------------------------------------------
# Local Email Settings
EMAIL_HOST = 'localhost'
EMAIL_PORT = 1025

# ---------------------------------------------------------------------
# Local Installation Secret Key
SECRET_KEY = 's9(9!#fqd8y@@q3q((6wag$#*ttodek@^n*bk=a7ezcid6oc2f'
