{% extends 'base/simple.html' %}

{% block secondary_title %}
Singup
{% endblock %}

{% block secondary_header %}
Signup
{% endblock %}

{% block main %}

  <p>Hello <b>{{ app.first_name|capfirst }} {{ app.last_name|capfirst }}</b>,</p>

  <p>
    Your {{ app.role|capfirst }} Application has been approved. Please fill out
    the following form to activate your account and set up access credentials.
  </p>

  {% if error %}
  <p style="color:red; font-weight:bold; font-size: 0.8em;">There were some errors
  in the submitted form! Please review your entries.</p>
  {% endif %}

  <form action="{% url mentortogether.user.views.activate key=activation_key %}" method="post">
    <table cellpadding="2" cellspacing="2" id="signup_form_table">
      {% for field in form.visible_fields %}
      <tr>
      <th>{{ field.label_tag }}</th>
      <td>
          {{ field }}
          <p class="help_text">{{ field.help_text }}</p>
          {{ field.errors }}
      </td>
      </tr>    
      {% endfor %}
      <tr>
        <th>&nbsp;</th>
        <td><input type="submit" value="Create Account"/></td>
      </tr>
    </table>
    {% for field in form.hidden_fields %}
    {{ field }}
    {% endfor %}
  </form>

{% endblock %}
