{% extends 'site/layout_1col.html' %}

{% block PrimaryContent %}
    <table cellspace="2">
         <tr>
         <td class='field_name'>Role</td>
         <td class='field_value'>{{ of_user.get_profile.role }}</td>
         </tr>
         <tr>
         <td class='field_name'>Name</td>
         <td class='field_value'>{{ app.first_name|capfirst }} {{ app.last_name|capfirst }}</td>
         </tr>
         {% if of_user.get_profile.is_mentor %}
         <tr>
         <td class='field_name'>Occupation</td>
         <td class='field_value'>{{ app.curr_occup_title|capfirst }}, {{ app.curr_occup_co|capfirst }},<br/>
             ({{ app.curr_occup_func|capfirst }}; {{ app.curr_occup_industry }})</td>
         </tr>
        {% else %}
         <tr>
         <td class='field_name'>Grade</td>
         <td class='field_value'>{{ app.grade }} <br/>
         </tr>
         <tr>
         <td class='field_name'>School</td>
         <td class='field_value'>{{ app.school|capfirst }} <br/>
         </tr>
        {% endif %}
    </table>
{% endblock %}
