{# Dashboard view for a given mentorship pair #}

{% extends 'mentor/mentorship.html' %}

{% block Mentorship %}

    {{ block.super }}

    <div class="discussions">
        <h3>Messaging</h3>
        {# if this is a mentor, new discussion starts with the selection of a prompt #}
        {% ifequal role 'mentor' %}
            <a href="{% url prompt-listing mentorship.id %}">Start New Discussion</a>
        {% else %}
            <a href="{% url new-thread mentorship.id %}">Start New Discussion</a>
        {% endifequal %}
        <br/>
        <div id="thread-listing">
            <table>
                <thead>
                    <tr> 
                        <th class="col-subject">Subject</th>
                        <th class="col-date" colspan="2">Last Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thread in annotated_threads %}
                    <tr class="{% if thread.unread %}highlight{% endif %}">
                            <td class="col-first">
                                <a href="{% url view-thread mentorship.id thread.obj.id %}">{{ thread.obj.subject }}</a> ({{thread.count}})
                                <div class="prompt">{{ thread.obj.prompt.title }}</div></td>
                            </td>
                            <td>{{ thread.obj.timestamp|date:"H:i" }}</td>
                            <td class="col-last">{{ thread.obj.timestamp|date:"jS M y" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="col-first">
                                You have no messages. :-(
                            </td>
                            <td class="col-last">&nbsp;</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
