{# Dashboard view for a given mentorship pair #}

{% extends 'mentor/mentorship.html' %}

{% block Mentorship %}

    {{ block.super }}

    <div class="activity-info">
        {% if prompt %}
            Your active curriculum prompt is: <br />
            <big>{{ prompt }}</big>
        {% else %}
            You have no active curriculum prompt.<br/>
        {% endif %}
        {% if target_user.get_profile.is_mentor %}
            <br/>
            ( <a href="{% url prompt-listing mentorship.id %}">Manage</a> )
        {% endif %}
        <hr />
    </div>

    <div class="activity-info">
        Messages:
        <div id="thread-listing">
            <a href="{% url new-thread mentorship.id %}">Start New Discussion</a>

            <table>
                {% for thread in threads %}
                    {% if forloop.first %}
                        <thead>
                            <tr> 
                                <th class="col-subject">Subject</th>
                                <th class="col-date" colspan="2">Last Activity</th>
                            </tr>
                        </thead>
                    {% endif %}
                    <tbody>
                        <tr class="{% cycle 'highlight' '' %}">
                            <td><a href="{% url view-thread mentorship.id thread.id %}">{{ thread.subject }}</a></td>
                            <td>{{ thread.timestamp|date:"H:i" }}</td>
                            <td>{{ thread.timestamp|date:"jS M y" }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
