{% extends 'site/base.html' %}

{% block PrimaryContent %}

    {{ block.super }}

    <div id="mentorship-main">
        {% block Mentorship %}{% endblock %}
    </div>

{% endblock %}

{% block SecondaryContent %}
    <div id="mentorship">

       <div id="target-user-info">
            <!-- FIXME: generate use photo by user id -->
            <div class="photo">
                <img src="{% url user-photo-image username=mentee.username type='profile' %}" />
            </div>

            <div class="stats">
                <ul class="menu-list">
                    <li><a href="#">{{ target_user.first_name|capfirst }} {{ target_user.last_name|capfirst }}</a></li>
                </ul>
            </div>
        </div>

        <div>
        <ul class="menu-list">
            <li><a href="{% url mentorship mentorship.id %}">Dashboard</a></li>
            <li><a href="{% url thread-listing mentorship.id %}">Messaging</a></li>
            {% if user.get_profile.is_mentor %}
                <li><a href="{% url prompt-listing mentorship.id %}">Manage Prompt</a></li>
            {% endif %}
        </ul>
        </div>

    </div>
{% endblock %}
