{% extends 'site/layout_2col.html' %}

{% block PrimaryContent %}

    {{ block.super }}

    <div id="mentorship-main">
        {% block Mentorship %}{% endblock %}
    </div>

{% endblock %}

{% block SecondaryContent %}
    <div id="mentorship">
       <div id="target-user-info">
            <div class="photo">
                <img src="{% url user-photo-image uid=target_user.id image_type='profile' %}" />
            </div>
            <div class="stats">
                <ul class="menu-list">
                    <li><a href="{% url mentorship mentorship.id %}">{{ target_user.first_name|capfirst }} {{ target_user.last_name|capfirst }}</a></li>
                </ul>
            </div>
        </div>

        <hr size="1" />
        <div>
        <ul class="menu-list">
            <li><a href="{% url mentorship mentorship.id %}">Messaging</a></li>
        </ul>
        </div>

    </div>
{% endblock %}
