{% extends 'mentor/mentorship.html' %}

{% block Mentorship %}
    
    {{ block.super }}

    <h2>Select a Writing Prompt</h2>

    <p>Select a writing prompt that will provide you and your mentee 
    with a topical guide for your dicussions.</p>

    <p><a href="{% url new-thread mentorship.id %}">Skip this step</a></p>

    <div id="prompt-listing">
        {% for node in nodes %}

            {% if node.section %}
                <div class="section">
                    <div class="title">
                        {{ node.section.title }}
                    </div>
                    <div class="summary">
                        {{ node.section.summary }}
                    </div>
                </div>
            {% endif %}

            {% if node.prompt %}
                <div class="prompt {% if node.log.is_active %}active-prompt{% endif %}">
                    <div class="title">
                        {{ node.prompt.title }}
                    </div>
                    <div class="summary">
                        {{ node.prompt.summary }}
                    </div>
                    <form action="{% url new-thread mentorship.id node.prompt.id %}" 
                          method="get">
                        <input type="submit" value="Select" />
                    </form>
                </div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
