{% extends 'mentor/mentorship.html' %}

{% block Mentorship %}

    {% if thread.prompt %}
        <div class="clearfix span-14 last">
            <div class="line-format" style="font-weight: bold; margin-bottom: 10px; font-size: 1.1em;">{{ thread.prompt.title }}</div>
            <div class="line-format" id="writing-prompt">{{ thread.prompt.mentor_doc }}</div>
        </div>
    {% endif %}

    <div id="message-thread">
        <ul>
            {% for msg in thread_msgs %}
            <li class="clearfix">
                <div class="span-2">
                    <div class="sender-photo" 
                         style="background-image: url('{% url user-photo-image uid=msg.sender.id image_type="tag" %}');">
                    </div>
                </div>
                <div class="span-12 last">
                    {% if forloop.first %}
                        <div class="message-subject">{{ thread.subject }}</div>
                    {% endif %}
                    <div class="message-text">{{ msg.text }}</div>
                </div>
            </li>
            {% endfor %}
            <li class="clearfix">
                <div class="span-2">
                    <div class="sender-photo" 
                         style="background-image: url('{% url user-photo-image uid=user.id image_type="tag" %}');">
                    </div>
                </div>
                <div class="span-12 last">
                    <form action="{% url post-message mentorship.id thread.id %}" method="post">
                        <textarea id="id_text" class="span-12 last" name="text"></textarea>
                        <input type="submit" value="Post" />
                    </form>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
