{% extends 'page/simple.html' %}
 
{% block secondary_title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
 
{% block secondary_header %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
 
{% block main %}

    <p>Welcome to your page {{ user.first_name }}!</p>

    {% load cms_tags %}
    {% if user.get_profile.is_mentor %}
        {% cms_notices "mentor-homepage" %}
    {% else %}
        {% cms_notices "mentee-homepage" %}
    {% endif %}

    <div id="db_mentorbar">
        {% if user.get_profile.is_mentor %}
            <h2>My Mentees</h2>
            {% for mentorship in mentorships %}
                {% with mentorship.mentee as mentee %}
                    <div style="float:left; padding-right: 1em">
                        <div style="background-image:url('{% url mentortogether.user.views.photo_image username=mentee.username type='profile' %}');" class="photo_window"></div>
                        <small>
                            <a href="{% url mentorship mentorship.id %}">{{ mentee.first_name }} {{ mentee.last_name }}</a>
                        </small>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endif %}
    </div>
    <div style="clear:both"></div>

    {% if messages %}
        <ul id="user_messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
