{% extends 'page/simple.html' %}

{% block secondary_title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block secondary_header %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block main %}

{# ---[ Generate User Messages if any ]--- #}

{% if messages %}
<ul id="user_messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<p>Welcome to your page {{ user.first_name }}!</p>

<div class="notice_blob">
Mentor Together <a href="http://docs.google.com/fileview?id=0B67JyiXLc2F2MDMwNDEyZmYtNDUwZi00MmJiLTk4MzUtNTg0OTlhOTg2MmNk&hl=en">schedule</a> and other documents are available <a href="/p/docs/">here</a>
</div>

{% endblock %}
