{% extends 'mentorship.html' %}

{% block secondary_title %}
    {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
    | Mentor
{% endblock %}

{% block secondary_header %}
    {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
    | Mentor
{% endblock %}

{% block content_col %}

  {{ msg_html }}

  <div class="box_container">
    <div class="box_tag msg_img_tag" style="background-image: url('/imgs/edit-file.jpg')">
    </div>
    <div class="box_box"> 
      <div>
        <form method="post" action="">
        <textarea name="message" style="width:100%; height:300px;">{{ initial_text }}</textarea>
        <input type="submit" name="formaction" value="Send"/>
        <input type="submit" name="formaction" value="Save"/>
        </form>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>



{% endblock %}
