{% extends 'base/simple.html' %}


{% block secondary_header %}
Signup
{% endblock %}

{% block main %}

<p>We will be happy to have you as part of the Mentor 
   Together family! For that, we need to set up login 
   credentials and a profile for you. As a first step, 
   please select the type of profile.</p>

<div id="profile_select">
  <div class="profile_select_text">
    <a href="/user/signup/mentor">\o/ I would like to be a Mentor!</a>
  </div>
  <div class="profile_select_text">
    <a href="/user/signup/mentee">\o/ I would like to be Mentored!</a>
  </div>
</div>

{% endblock %}
